# Making Derivation variable script
## 1.import modules and datasets prepare

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [4]:
data = pd.read_csv('train_sample.csv', usecols=['ip', 'app', 'device', 'os', 'channel', 'click_time', 'is_attributed'])
data.head()

       ip  app  device  os  channel           click_time  is_attributed
0   87540   12       1  13      497  2017-11-07 09:30:38              0
1  105560   25       1  17      259  2017-11-07 13:40:27              0
2  101424   12       1  19      212  2017-11-07 18:05:24              0
3   94584   13       1  13      477  2017-11-07 04:58:08              0
4   68413   12       1   1      178  2017-11-09 09:00:09              0

In [5]:
print(data.shape)

(100000, 7)

## 2. OS & device variable

> count of os number and device number, group by ip

### 衍生变量计算函数集
> ip下属的离散变量计数统计
>> 可用来计算ip下os\channel\device\app数量

In [22]:

def count_groupby_ip(source, count_var, group_var='ip'):
    
    # group count for count_var
    data = pd.read_csv(source, usecols=[count_var, group_var])
    display(data.head())
    g = data[count_var].groupby(data[group_var])
    g_count = g.count().reset_index()
    display(g_count.head())
    # data merge by  group_var
    newname = '{}_num_of_{}'.format(count_var, group_var)
    g_count.rename(columns={count_var:newname}, inplace=True)
    display(g_count.head())
    res = pd.merge(data, g_count, how='left', left_on=group_var, right_on=group_var)
    return res

> 时间切片变量统计
>> 计算hour，maxclick, avgclick by hour

In [50]:
from datetime import datetime
def trans2datetime(t):
    dt_format = '%Y-%m-%d %H:%M:%S'
    t = datetime.strptime(t, dt_format)
    return t


def extractHour(t):
    return t.hour



data = pd.read_csv('train_sample.csv', usecols=['click_time', 'ip'])
data['click_time'] = data['click_time'].map(lambda x : trans2datetime(x))
data['hour'] = data['click_time'].map(lambda x: extractHour(x))
g = data.groupby(['ip', 'hour'])
g_count = g.count()

g_count_unstack = g_count.unstack()
maxcllick_of_ip = g_count_unstack.max(axis=1)
avgcllick_of_ip = g_count_unstack.sum(axis=1)/24.

> 下载行为变量
>> 每个不同离散变量中的下载率、下载次数

In [ ]:
def attributedVariable(source):
    
    data = pd.read_csv(source, usecols=[vname, 'is_attributed'])
    ctab = pd.crosstab(index=data[vname], columns=data['is_attributed'])
    ctab.columns = ['no', 'attr_times']
    ctab['sum'] = ctab.sum(axis=0)

    ctab['attr_rate'] = ctab.loc[:,1]/ctab['sum']
    return ctab

In [54]:
avgcllick_of_ip = g_count_unstack.mean(axis=1)

In [56]:
avgcllick_of_ip = g_count_unstack.sum(axis=1)/24.

In [57]:
avgcllick_of_ip.head()

ip
9     0.041667
10    0.125000
19    0.041667
20    0.166667
25    0.041667
dtype: float64

In [12]:
os_count.head()

       ip  os  os_num_of_ip
0   87540  13             8
1  105560  17           149
2  101424  19             2
3   94584  13             3
4   68413   1             4

In [13]:
device_count = count_groupby_ip('train_sample.csv', 'device', 'ip', 'device_num_of_ip')
device_count.head()

       ip  device
0   87540       1
1  105560       1
2  101424       1
3   94584       1
4   68413       1

   ip  device
0   9       1
1  10       3
2  19       1
3  20       4
4  25       1

   ip  device_num_of_ip
0   9                 1
1  10                 3
2  19                 1
3  20                 4
4  25                 1

       ip  device  device_num_of_ip
0   87540       1                 8
1  105560       1               149
2  101424       1                 2
3   94584       1                 3
4   68413       1                 4

>   count of app number and channel number, group by ip

In [6]:
app_count = count_groupby_ip('train_sample.csv', 'app', 'ip', 'app_num_of_ip')

In [7]:
app_count.head()

       ip  app  app_num_of_ip
0   87540   12              8
1  105560   25            149
2  101424   12              2
3   94584   13              3
4   68413   12              4

In [8]:
channel_count = count_groupby_ip('train_sample.csv', 'channel', 'ip', 'channel_num_of_ip')

In [9]:
channel_count.head()

       ip  channel  channel_num_of_ip
0   87540      497                  8
1  105560      259                149
2  101424      212                  2
3   94584      477                  3
4   68413      178                  4

   ip  device_num_of_ip
0   9                 1
1  10                 3
2  19                 1
3  20                 4
4  25                 1

       ip  device  device_num_of_ip
0   87540       1                 8
1  105560       1               149
2  101424       1                 2
3   94584       1                 3
4   68413       1                 4